body {
    margin: 0;
    color: #112d4e;
    background-color: #0c2849;
    background-image: url(resources/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
header {
    position: fixed;
    background-color: #3f72af;
    background-image: url(resources/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f9f7f7;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
header h1 {
    text-align: center;
    display: inline-box;
    margin: 20px auto 0px auto;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: 2px solid #f9f7f7;
    width: 14em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header nav {
    text-align: center;
    position: relative;
    right: 20px;
}
header nav ul li {
    display: inline;
    text-align: center;
    padding: 0;
    border-left: 1px solid #f9f7f7; 
    border-right: 1px solid #f9f7f7; 
}
header nav ul li.left {
    border-left: none;
}

header nav ul li.right {
    border-right: none;
}

header nav ul li a {
    color: #f9f7f7;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 0px 20px; 
}

/* header nav ul li:hover {
    background-color: #f9f7f7;
    color: #112d4e;
    border: 1px solid #f9f7f7;
}*/
header nav ul li a:hover {
    background-color: #f9f7f7;
    color: #112d4e;

}

header img {
    height: 7.4rem;
    width: auto;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #f9f7f7;
    position: absolute;
    top: 0.5rem;
    left: 2.5rem;
}
.info {
    position: relative;
    top: 7.7rem;
    left: 9%;
    width: 80%;
    line-height: 1.25;
    background-color: #ebf3ff;
    background-image: url(resources/texture.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #112d4e;
    padding: 8px;
}

.info li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
}

#education {
    margin: 10px 0 10px 0;
    vertical-align: top;

}
#education h4 {
    display: block;
    position: relative;
}
#education ul {
    width: 50%;
    display: block;
    position: relative;
    margin: 0;
  

}
#education img {
    display: block;
    margin: 0;
    position: absolute;
    top: 3rem;
    right: 2rem;
    height: 10rem;
}
.jumptarget::before {
    content:"";
    display:block;
    height:110px; /* fixed header height*/
    margin:-110px 0 0; /* negative fixed header height */
  }


h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
h4 span {
    font-style: normal;
    font-weight: 0.8;
    font-size: 0.9em;
    opacity: 50%;
}

.info a {
    font-family: Arial, Helvetica, sans-serif;
    color: #345e91;
}
#skills {
    column-count: 2;
    column-fill: balance;
    column-rule: 1px solid #c4c3c3;
}

footer {
    display: block;
    background-color: #112d4e;
    color: #f9f7f7;
    position: relative;
    top: 14rem;
    margin: -4rem 0;
    width: 100%;
    height: 10rem;
    border-top: 2px solid #f9f7f7;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.9rem;
}

footer a {
    color: #f9f7f7;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
}

.copyright {
    color: #9cd2fdbe
}

* {
    box-sizing: border-box;
}